<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainlayout}">

<th:block>
    <style>
        .content{
            height: 100%;
            margin-left: 15%;
            margin-right: 15%;
        }
    </style>
</th:block>


<div layout:fragment="content">
    <h3 th:text="${item.itemName}"></h3>
    <h3 th:text="${item.itemPrice}"></h3>
    <h3 th:text="${item.stockNumber}"></h3>
    <h3 th:text="${item.itemDetails}"></h3>
    <h3 th:text="${item.itemSellStatus}"></h3>
</div>

</html>