<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/MainLayout}" >

<!--css 추가-->
<th:block layout:fragment="css">
    <style>
        .form-group{
            margin: 20px auto;
            width: 50%;
        }
        .error{
            color: red;
        }
    </style>
</th:block>

<div layout:fragment="content">

    <h1 style="text-align: center">로그인</h1>
    <form role="form" action="/members/login" method="post" >
        <div class="form-group">
            <label th:for="email">이메일</label>
            <input type="email" name="email" class="form-control" placeholder="이메일을 입력해주세요">
        </div>
        <div class="form-group">
            <label th:for="password">비밀번호</label>
            <input type="password" name="password" class="form-control" placeholder="비밀번호를 입력해주세요">
        </div>
        <div class="form-group">
            <p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>
        </div>
        <div style="text-align: center">
            <button class="btn btn-primary" style="">로그인</button>
            <button type="button" class="btn btn-primary" onclick="location.href='/members/new'">회원가입</button>
        </div>

    </form>
</div>

</html>